* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

/* Cabeçalho */
header {
    background-image: url(imagens/Michael-Jackson-em-2002.jpg.webp);
    padding: 20px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Banner */
#banner {
    background-color: #333;
    padding: 20px;
    margin-top: 10px;
}

/* Uso do Grid*/
.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.news-item {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: #222;
    padding: 10px;
    margin-top: 20px;
}
button{
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    font-size:  16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
    width: 220px;
    height: 60px;
}

button:hover{
    background:  white;
    color: white;
}

button:focus{
    outline: none;
    background: transparent;
    color: white;
}

.menu {
    display: flex;
    position: relative;
    text-align: center;
    list-style: none;
    gap: 20px;
}
  
.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
  
.menu-toggle {
    display: none;
    cursor: pointer;
}


/* Responsividade */
@media (max-width: 450px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .menu{
        flex-direction: column;
        text-align: center;
    }
}

/*responsividade para telas maiores*/
@media  (orientation: landscape){
    button{
    width: 280px;
    height: 70px;
    text-align: center;
    padding: 15px 15px;
    font-size:  20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
}

